<div class="activity-overlay">
    <div class="ao-header">
        <div class="ao-header__title">
            Activity Overview
        </div>

        <button class="ao-header__closebtn">&#10005;</button>
    </div>

    <div class="grid grid--full">
        <div class="grid__item three-quarters">

        </div><!--
        --><div class="grid__item one-quarter">
            <div class="ao-section">
                <div class="ao-section__title">Most active users</div>
            </div>
        </div>
    </div>
</div>