<div class="app-panel">
    <div class="ap-header">
        <div class="l-split">
            <div class="l-split__right">
                <button class="link" ng-click="filters.active = false">(close)</button>
            </div>

            <div class="l-split__left">
                <div class="ap-header__title">Tweet acvitity</div>
            </div>
        </div>
    </div>

    <div class="grid grid--full">
        <div class="grid__item two-thirds">
            <timeline></timeline>
        </div><!--
        --><div class="grid__item one-third">
            <authors-filter></authors-filter>
        </div>
    </div>
</div>