<div class="activity-overlay">
    <div class="ao-header">
        <div class="ao-header__title">
            Activity Overview
        </div>

        <button class="ao-header__closebtn">&#10005;</button>
    </div>

    <div class="grid grid--full">
        <div class="grid__item three-quarters">
            <div class="ao-section">
                <div class="l-block">
                    <div class="ao-section__title">Interface Minimap</div>
                </div>

                <menu-minimap></menu-minimap>
            </div>
        </div><!--
        --><div class="grid__item one-quarter">
            <div class="ao-section">
                <div class="l-block">
                    <div class="ao-section__title">Filters</div>
                </div>

            </div>
        </div>
    </div>
</div>