<div class="app-panel" ng-show="filters.active">
    <div class="ap-header">
        <div class="l-split">
            <div class="l-split__right">
                <button class="link" ng-click="toggleFilters()">(close)</button>
            </div>

            <div class="l-split__left">
                <div class="ap-header__title">Tweet acvitity</div>
            </div>
        </div>
    </div>


    <div class="grid grid--full">
        <div class="grid__item two-thirds">
            <div class="l-block-small">
                <div class="ap-section">
                    <div class="l-block-small">
                        <div class="ap-section__header">
                            <div class="ap-section__title">Personalization</div>
                        </div>
                    </div>

                    <div class="l-list-inline">
                        <div class="l-list-inline__item">
                            <label>
                                <input type="checkbox"
                                       ng-model="filters.highlightUnfamiliar"> Show commands I do not know
                            </label>
                        </div>

                        <div class="l-list-inline__item">
                            <label>
                                <input type="checkbox"
                                       ng-model="filters.highlightRelevant"> Show commands relevant to my work
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!--<timeline></timeline>-->
        </div><!--
        --><div class="grid__item one-third">
            <authors-filter></authors-filter>
        </div>
    </div>
</div>