<div class="app-panel">
    <div class="ap-header">
        <div class="ap-header__title">Twitting activity</div>
    </div>

    <div class="grid grid--full">
        <div class="grid__item three-quarters">
            <div class="ap-section">
                <div class="l-block">
                    <div class="ap-section__title">Activity History</div>
                </div>

                <button ng-click="filter()">filter!</button>
            </div>
        </div><!--
        --><div class="grid__item one-quarter">
            <div class="ap-section">
                <div class="l-block">
                    <div class="ap-section__title">Filters</div>
                </div>
            </div>
        </div>
    </div>
</div>