<div class="author"
     ng-show="author.tweetsCount > 0"
     ng-class="{'author--selected': author.name == filters.author.name}"
     ng-click="setAuthorFilter()">
    <div class="l-media">
        <div class="l-media__figure">
            <div class="author__avatar"
                 style="background-image: url({{author.avatar}});"></div>
        </div>

        <div class="l-media__body">
            <div class="l-split">
                <div class="l-split__right">
                    <div class="author__tweets">{{author.tweetsCount}} tweets</div>
                </div>

                <div class="l-split__left">
                    <div class="author__name">@{{author.name}}</div>
                </div>
            </div>

            <div class="author__follow">
                <div class="l-list-inline l-list-inline--x-small"
                     ng-show="author.isFollowing">
                    <div class="l-list-inline__item">
                        You follow @{{author.name}}
                    </div>

                    <div class="l-list-inline__item">
                        <button class="link link--danger"
                                ng-click="toggleFollow($event)">unfollow</button>
                    </div>
                </div>

                <button class="link"
                        ng-click="toggleFollow($event)"
                        ng-hide="author.isFollowing">follow @{{author.name}}</button>
            </div>
        </div>
    </div>
</div>