<div class="ap-section">
    <div class="l-block-x-small">
        <div class="ap-section__title">Authors</div>
    </div>

    <div class="ap-section__body ap-section__body--limited">
        <div ng-repeat="author in authors">
            <div class="author"
                 ng-class="{'author--selected': selectedAuthor == author}"
                 ng-click="selectAuthor(author)">
                <div class="l-media">
                    <div class="l-media__figure">
                        <div class="author__avatar"
                             style="background-image: url({{author.avatar}});"></div>
                    </div>

                    <div class="l-media__body">
                        <div class="l-split">
                            <div class="l-split__right">
                                <div class="author__tweets">{{author.tweetsCount}} tweets</div>
                            </div>

                            <div class="l-split__left">
                                <div class="author__name">@{{author.name}}</div>
                            </div>
                        </div>

                        <div class="author__follow">
                            <div class="l-list-inline l-list-inline--x-small"
                                 ng-show="author.isFollowed">
                                <div class="l-list-inline__item">
                                    You follow @{{author.name}}
                                </div>

                                <div class="l-list-inline__item">
                                    <button class="link link--danger"
                                            ng-click="toggleFollow($event, author)">unfollow</button>
                                </div>
                            </div>

                            <button class="link"
                                    ng-click="toggleFollow($event, author)"
                                    ng-hide="author.isFollowed">follow @{{author.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>