<div class="ap-section">
    <div class="l-block-x-small">
        <div class="-split">
            <div class="l-split__right">
                <button class="link"
                        ng-show="filters.author.name"
                        ng-click="unsetAuthorFilter()">clear filter</button>
            </div>
        </div>
        <div class="ap-section__title">Authors</div>
    </div>

    <div class="ap-section__body ap-section__body--limited">
        <div ng-repeat="author in authors | orderBy : '-tweetsCount'">
            <author author="author"></author>
        </div>
    </div>
</div>