<div class="tweets-popup-history">
    <div class="tweets-popup-history__thumb"
         ng-mouseover="showPopup()"
         ng-mouseleave="hidePopup()">...</div>

    <div class="tp-popup"
         ng-show="visible"
         ng-mouseover="showPopup()"
         ng-mouseleave="hidePopup()">
        <div class="tp-popup__header">Recent activity</div>

        <div class="tp-popup__body tp-popup__body--long">
            <tweet ng-repeat="tweet in tweets" tweet="tweet"></tweet>
        </div>
    </div>
</div>