<script type="text/ng-template" id="minimapItem">
    <menu-minimap-item item="item" tweets="tweets"></menu-minimap-item>

    <div ng-if="item.children.length">
        <div class="mm-submenu">
            <div ng-repeat="item in item.children"
                 ng-include="'minimapItem'"></div>
        </div>
    </div>
</script>

<div class="menu-minimap">
    <ul class="l-list-inline l-list-inline--small">
        <li class="l-list-inline__item"
            ng-repeat="rootItem in menu">
            <menu-minimap-item item="rootItem"></menu-minimap-item>

            <div class="mm-submenu">
                 <div ng-repeat="item in rootItem.children"
                      ng-include="'minimapItem'"></div>
            </div>
        </li>
    </ul>
</div>
