<script type="text/ng-template" id="menuDropdown">
    <div class="amd-item"
         ng-class="{'amd-item--active': item.isOpen,
                    'amd-item--parent': item.children.length,
                    'amd-item--highlighted': item.isHighlighted}"
         ng-mouseover="item.isHighlighted = false">


         <button class="amd-item__name"
                 ng-mouseover="open(item.id)">{{item.label}}</button>
    </div>

    <div ng-show="item.children.length">
        <div class="am-dropdown am-dropdown--nested"
             ng-show="item.isOpen">
            <div class="am-dropdown__slot"
                 ng-repeat="item in item.children"
                 ng-include="'menuDropdown'"></div>
        </div>
    </div>
</script>

<div class="app-menu">
    <ul class="l-list-inline l-list-inline--collapsed">
        <li class="l-list-inline__item"
            ng-repeat="rootItem in data.menu">
            <div class="app-menu__slot">
                <div class="am-item"
                     ng-class="{'am-item--active': rootItem.isOpen,
                                'am-item--highlighted': rootItem.isHighlighted}"
                     ng-mouseover="rootItem.isHighlighted = false">
                    <button class="am-item__name"
                            ng-mouseover="open(rootItem.id)">{{rootItem.label}}</button>
                </div>

                <div class="am-dropdown am-dropdown--root"
                     ng-show="rootItem.isOpen">
                    <div class="am-dropdown__slot"
                         ng-repeat="item in rootItem.children"
                         ng-include="'menuDropdown'"></div>
                </div>
            </div>
        </li>
    </ul>
</div>
