<div class="menu-popup"
     ng-show="filtered.length"
     ng-class="{'menu-popup--leaf': !context.children,
                'menu-popup--root': context.root }">
    <div class="menu-popup__counter"
         ng-class="{'menu-popup__counter--mixed': (filters.highlightUnknown || filters.highlightRelevant) && context.highlightType == 'mixed',
                    'menu-popup__counter--highlighted': (filters.highlightUnknown || filters.highlightRelevant) && context.highlightType == 'highlighted' }"
         ng-show="filters.active"
         ng-mouseover="show()"
         ng-mouseleave="hide()">{{filtered.length}}</div>

    <div ng-hide="context.root">
        <div class="menu-popup__indicator"
             ng-show="!filters.active"
             ng-mouseover="show()"
             ng-mouseleave="hide()">...</div>

        <div class="popup"
             ng-show="popupVisible"
             ng-mouseover="show()"
             ng-mouseleave="hide()">
            <div class="p-header">
                <div class="p-header__title">Tweets about '{{context.label}}'</div>
            </div>

            <div class="p-body p-body--limited">
                <div class="p-body__item"
                     ng-class="{'p-body__item--last': $last}"
                     ng-repeat="t in filtered">
                    <tweet tweet="t"></tweet>
                </div>
            </div>
        </div>
    </div>
</div>