<script type="text/ng-template" id="menuDropdown">
    <menu-notification  context="item"
                        ng-show="item.isHighlighted && !item.children.length"></menu-notification>

    <menu-popup context="item"
                ng-show="!item.children.length"></menu-popup>

    <div class="amd-item"
         ng-class="{'amd-item--active': item.isOpen,
                    'amd-item--parent': item.children.length,
                    'amd-item--highlighted': item.isHighlighted}"
         ng-mouseover="open(item.id)">

        <button class="amd-item__name">{{item.label}}</button>

        <span class="amd-item__counter"
              ng-class="{'am-item__counter--mixed': (filters.highlightUnknown || filters.highlightRelevant) && item.highlightType == 'mixed',
                         'am-item__counter--highlighted': (filters.highlightUnknown || filters.highlightRelevant) && item.highlightType == 'highlighted'}"
              ng-show="filters.active && item.nTweets && item.children.length">{{item.nTweets}}</span>
    </div>

    <div ng-show="item.children.length">
        <div class="am-dropdown am-dropdown--nested"
             ng-show="item.isOpen">
            <div class="am-dropdown__slot"
                 ng-repeat="item in item.children"
                 ng-include="'menuDropdown'"></div>
        </div>
    </div>
</script>

<div class="app-menu">
    <ul class="l-list-inline l-list-inline--collapsed">
        <li class="l-list-inline__item"
            ng-repeat="rootItem in menu">
            <div class="app-menu__slot">
                <div class="am-item"
                     ng-class="{'am-item--active': rootItem.isOpen,
                                'am-item--highlighted': rootItem.isHighlighted}"
                     ng-mouseover="open(rootItem.id)">
                    <button class="am-item__name">
                        <span class="l-list-inline l-list-inline--collapsed">
                            <span class="l-list-inline__item is-middle-aligned">
                                {{rootItem.label}}
                            </span>

                            <span class="l-list-inline__item is-middle-aligned"
                                  ng-show="filters.active">
                                <span class="am-item__counter"
                                      ng-class="{'am-item__counter--mixed': (filters.highlightUnknown || filters.highlightRelevant) && rootItem.highlightType == 'mixed',
                                                 'am-item__counter--highlighted': (filters.highlightUnknown || filters.highlightRelevant) && rootItem.highlightType == 'highlighted'}"
                                      ng-show="rootItem.nTweets">{{rootItem.nTweets}}</span>
                            </span>
                        </span>
                    </button>
                </div>

                <div class="am-dropdown am-dropdown--root"
                     ng-show="rootItem.isOpen">
                    <div class="am-dropdown__slot"
                         ng-repeat="item in rootItem.children"
                         ng-include="'menuDropdown'"></div>
                </div>
            </div>
        </li>
    </ul>
</div>