<div class="panelbar-item">
    <button class="pi-panelname"
            ng-click="openPanel()">
        <div class="l-list-inline l-list-inline--collapsed">
            <div class="l-list-inline__item is-middle-aligned">
                <div class="pi-panelname__icon"
                     style="background-image: url('/images/{{panel.id}}.png');"></div>
            </div>

            <div class="l-list-inline__item is-middle-aligned">
                <div class="pi-panelname__label">{{panel.label}}</div>
            </div>
        </div>
    </button>

    <div class="panelbar-item__dropdown"
         ng-show="panel.isOpen">
        <img ng-src="/images/{{panel.id}}-panel.png" alt="{{panel.label}}"/>
    </div>
</div>