<div class="ap-section">
    <div class="l-block">
        <div class="l-split">
            <div class="l-split__right">
                <button class="link"
                        ng-show="filters.time"
                        ng-click="resetTimeFilter()">clear filter</button>
            </div>

            <div class="l-split__left">
                <div class="ap-section__title">{{nTweets}} tweets in {{lowerTimeBound | amDateFormat:'MMM Do h:mm'}} - {{upperTimeBound | amDateFormat:'MMM Do h:mm'}}</div>
            </div>
        </div>
    </div>

    <div class="timeline-slot">
        <div id="timeline"></div>
    </div>
</div>