<div class="toolbar toolbar--left js-menu js-toolbar">
  <div ng-repeat="item in menu.all">
    <div class="toolbar__slot"
         ng-if="!item.divider">
      <div class="t-item"
           ng-click="rootItemClickCallback(menu, item)"
           ng-mouseenter="rootItemHoverCallback(menu, item)"
           ng-mouseleave="rootItemLeaveCallback(menu, item)"
           ng-class="{'t-item--highlighted': item.isHighlighted}">

        <button class="t-item__icon"
                ng-class="{'t-item__icon--large': item.largeIcon}"
                style="background-image: url('/images/{{item.id}}.png');"
                ng-click="itemActivateCallback(menu, item, $event)">
        </button>

        <div class="t-item__counter"
             ng-show="item.tweetsCount > 0">{{item.tweetsCount}}</div>
      </div>

      <div class="t-dropdown"
           ng-show="item.isOpen"
           ng-if="item.children.length">
        <div class="t-dropdown__slot"
             ng-repeat="subitem in item.children">
          <button class="td-item"
                  ng-mouseenter="itemHoverCallback(menu, subitem)"
                  ng-mouseleave="itemLeaveCallback(subitem)"
                  ng-class="{'td-item--first': $first,
                        'td-item--highlighted': subitem.isHighlighted}"
                  ng-click="itemActivateCallback(menu, subitem, $event)">
            <div class="l-list-inline l-list-inline--x-small">
              <div class="l-list-inline__item is-middle-aligned">
                <div class="td-item__icon"
                     ng-class="{'td-item__icon--large': subitem.largeIcon}"
                     style="background-image:
                     url('/images/{{subitem.id}}.png');"></div>
              </div>

              <div class="l-list-inline__item is-middle-aligned">
                <div class="td-item__label">{{subitem.label}}</div>
              </div>
            </div>

            <div class="td-item__counter"
                 ng-show="subitem.tweetsCount > 0">{{subitem.tweetsCount}}</div>
          </button>
        </div>
      </div>
    </div>

    <div class="toolbar__divider"
         ng-if="item.divider"></div>
  </div>
</div>
