<div class="toolbar-item">
    <button class="ti-tool"
            ng-click="showDropdown()">
        <div class="ti-tool__icon"
             ng-class="{'ti-tool__icon--large': tool.largeIcon}"
             style="background-image: url('/images/{{tool.id}}.png');"></div>
    </button>

    <div class="toolbar-item__dropdown"
         ng-show="dropdownShown"
         ng-if="tool.subtools">
        <button class="ti-subtool"
                ng-class="{'ti-subtool--first': $first}"
                ng-repeat="subtool in tool.subtools">
            <div class="l-list-inline l-list-inline--x-small">
                <div class="l-list-inline__item is-middle-aligned">
                    <div class="ti-subtool__icon"
                         style="background-image: url('/images/{{subtool.id}}.png');"></div>
                </div>

                <div class="l-list-inline__item is-middle-aligned">
                    <div class="ti-subtool__label">{{subtool.label}}</div>
                </div>
            </div>
        </button>
    </div>
</div>