<div>
  <div class="l-tweet-content"
       ng-show="data.retweetedStatus">
    <div class="l-tweet-content__icon is-right-aligned">
      <i class="icon t-icon-retweet-indicator"></i>
    </div>

    <div class="tweet__extra">
      {{data.author.name}} retweeted <span am-time-ago="data.createdAt"></span>
    </div>
  </div>

  <div class="l-tweet-content">
    <div class="l-list-inline l-list-inline--collapsed">
      <div class="l-list-inline__item">
        <div class="t-author">
          <div class="l-tweet-content__icon">
            <img src="{{tweet.author.profileImageUrl}}"
                 alt="{{tweet.author.name}}"
                 class="t-author__avatar"/>
          </div>

          <div class="l-list-inline l-list-inline--collapsed">
            <div class="l-list-inline__item">
              <div class="t-author__name">{{tweet.author.name}}</div>
            </div>

            <div class="l-list-inline__item">
              <div class="t-author__screen-name tweet__extra">@{{tweet.author.screenName}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="l-list-inline__item">
        <div class="tweet__extra tweet__extra--pre-dot"
             am-time-ago="tweet.createdAt"></div>
      </div>
    </div>

    <div class="l-block-small">
      {{tweet.text}}
    </div>

    <div class="l-block-small">
      <div class="tweet__preview-image"
           style="background: url('//placehold.it/600x400');"></div>
    </div>

    <div class="l-block-small">
      <div class="commands-table">
        <div class="commands-table__cell">
          <div class="commands-header">Menu items:</div>

          <div class="command"
               ng-repeat="item in tweet.menu | limitTo: data.id === activeTweetId ? tweet.menu.length : 2"
               ng-mouseenter="commandHover('menu', item.id)"
               ng-mouseleave="commandHoverEnd('menu', item.id)"
               ng-click="commandClick('menu', item.id, $event)">{{item.label | characters:25}}</div>

          <div class="command"
               ng-show="data.id !== activeTweetId && tweet.menu.length > 2">...</div>
        </div>

        <div class="commands-table__cell commands-table__cell--pre-border">
          <div class="commands-header">Panels:</div>

          <div class="command"
               ng-repeat="item in tweet.panelbar | limitTo: data.id === activeTweetId ? tweet.panelbar.length : 2"
               ng-mouseenter="commandHover('panelbar', item.id)"
               ng-mouseleave="commandHoverEnd('panelbar', item.id)"
               ng-click="commandClick('panelbar', item.id, $event)">{{item.label | characters:25}}</div>

          <div class="command"
               ng-show="data.id !== activeTweetId && tweet.panelbar.length > 2">...</div>
        </div>

        <div class="commands-table__cell commands-table__cell--pre-border">
          <div class="commands-header">Tools:</div>

          <div class="command"
               ng-repeat="item in tweet.toolbar | limitTo: data.id === activeTweetId ? tweet.toolbar.length : 2"
               ng-mouseenter="commandHover('toolbar', item.id)"
               ng-mouseleave="commandHoverEnd('toolbar', item.id)"
               ng-click="commandClick('toolbar', item.id, $event)">{{item.label | characters:25}}</div>

          <div class="command"
               ng-show="data.id !== activeTweetId && tweet.toolbar.length > 2">...</div>
        </div>
      </div>
    </div>

    <div class="l-block-small"
         ng-show="data.id == activeTweetId">
      <div class="t-share-table">
        <div class="l-list-inline l-list-inline--collapsed">
          <div class="l-list-inline__item">
            <div class="t-share-table__cell">
              <div class="t-stat">
                <div class="t-stat__title tweet__extra">retweets</div>
                <div class="t-stat__value">{{tweet.retweetedBy.length}}</div>
              </div>
            </div>
          </div>

          <div class="l-list-inline__item">
            <div class="t-share-table__cell">
              <div class="t-stat">
                <div class="t-stat__title tweet__extra">favorites</div>
                <div class="t-stat__value">{{tweet.favoriteCount}}</div>
              </div>
            </div>
          </div>

          <div class="l-list-inline__item">
            <div class="t-share-table__cell t-share-table__cell--pre-border">
              <div class="l-list-inline l-list-inline--x-small">
                <div class="l-list-inline__item"
                     ng-repeat="author in tweet.retweetedBy | limitTo:8">
                  <div class="t-retweet">
                    <img src="{{author.profileImageUrl}}"
                         alt="author.name"
                         class="t-retweet__user-avatar"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="l-block-small"
         ng-show="data.id == activeTweetId">
      <div class="tweet__extra">
        {{tweet.createdAt | amDateFormat:'h:mm A - D MMM YYYY'}}
      </div>
    </div>

    <div class="tweet__extra">
      <div class="l-list-inline">
        <div class="l-list-inline__item">
          <div class="tweet__action">
            <i class="icon t-icon-retweet"></i>
            <span ng-show="data.id != activeTweetId">{{tweet.retweetedBy.length}}</span>
          </div>
        </div>

        <div class="l-list-inline__item">
          <div class="tweet__action">
            <i class="icon t-icon-favorite"></i>
            <span ng-show="data.id != activeTweetId">{{tweet.favoriteCount}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>