<div class="tweet-list">
  <div class="l-block"
       ng-show="activeItem">
    <div class="tweet-list__header">
      <div class="l-split">
        <div class="l-split__right">
          <button class="tweet-list__back"
                  ng-click="deactivateCallback()">back to all tweets</button>
        </div>

        <div class="l-split__left">
          <div class="tweet-list__subtitle">Tweets about</div>
        </div>
      </div>

      <div class="tweet-list__title">{{activeItem.label}}</div>

      <button ng-mouseenter="highlightCommand(activeMenu.name, activeItem.id)"
              ng-mouseleave="dimCommand(activeMenu.name, activeItem.id)"
              ng-click="revealCommandLocation(activeMenu.name, activeItem.id, $event)">
        <div class="l-list-inline l-list-inline--collapsed">
          <div class="l-list-inline__item">
            <div class="tweet-list__path">
              {{activeMenu.name}} /&nbsp;
            </div>
          </div><!--
          --><div class="l-list-inline__item"
               ng-repeat="parent in activeItem.parents"
               ng-show="parent.label && parent.label != ''">
            <div class="tweet-list__path">
              {{parent.label}} /&nbsp;
            </div>
          </div><!--
          --><div class="l-list-inline__item">
            <div class="tweet-list__path">
              {{activeItem.label}}
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>

  <tweet ng-repeat="t in tweets.all | limitTo: tweets.showItems"
         ng-click="onTweetActivate(t, $event)"
         class="tweet"
         ng-class="{'tweet--is-first': $first,
                    'tweet--is-last':  $last,
                    'tweet--is-open': t.id == activeTweetId}"
         data="t"
         active-tweet-id="activeTweetId"
         on-command-hover="hoverCommandCallback"
         on-command-hover-end="hoverEndCommandCallback"></tweet>
</div>