<div class="tweets-widget" ng-hide="filters.active">
    <div class="l-list-inline l-list-inline--x-small is-rtl">
        <div class="l-list-inline__item is-middle-aligned is-ltr">
            <button class="link"
                    ng-click="toggleFilters()">all activity</button>
        </div>

        <div class="l-list-inline__item is-middle-aligned is-ltr"
             ng-repeat="n in latest">
            <widget-notification notification="n"></widget-notification>
        </div>
    </div>
</div>