<div class="tweets-widget">
    <div class="l-split">
        <div class="l-split__right">Here be options...</div>

        <div class="l-split__left">
            <div class="l-list-inline l-list-inline--x-small">
                <div class="l-list-inline__item">
                    Latest tweets:
                </div>

                <div class="l-list-inline__item" ng-repeat="n in notifications">
                    <tweet-notification notification="n"></tweet-notification>
                </div>
            </div>
        </div>
    </div>
</div>