<div class="twitter-widget">
    <div class="tw-header">
        <div class="tw-header__title">Relevant tweets</div>
    </div>

    <div class="twitter-widget__body">
        <div class="tweet" ng-repeat="tweet in data.tweets">
            <div class="l-block-x-small">
                <div class="l-split">
                    <div class="l-split__right">
                        <div class="tweet__published">{{tweet.published}}</div>
                    </div>

                    <div class="l-split__left">
                        <div class="l-list-inline l-list-inline--x-small">
                            <div class="l-list-inline__item">
                                <div class="tweet__author-avatar" style="background-image: url({{tweet.author.avatar}});"></div>
                            </div>

                            <div class="l-list-inline__item">
                                <div class="tweet__author-name">@{{tweet.author.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="l-block-x-small">
                <div class="tweet__command"><button ng-click="highlight(tweet.command)" class="tweet__link">{{tweet.command}}</button></div>
            </div>

            <div class="tweet__text">{{tweet.text}}</div>
        </div>
    </div>
</div>