.app-panel {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;

  border: 1px solid $color-border;
}

.ap-header {
  padding: $global-baseline/4 $global-baseline;

  background: lighten($color-bg-secondary, 5%);
  border-bottom: 1px solid $color-border;

  &__title {
    font-weight: 600;
  }
}

.ap-section {
  padding: $global-baseline * 2;

  &__title {
    font-weight: 600;
    font-size: 12px;

    border-bottom: 1px solid $color-border;
  }

  &__body {
    // ...
  }
    &__body--limited {
      height: $global-baseline * 20;
      overflow: auto;
    }
}