.app-menu {
  // ...

  &__slot {
    position: relative;
  }
}

.am-item {
  // ...

  &__name {
    display: block;
    width: 100%;
    padding: 0 $global-baseline;

    line-height: $global-baseline * 2.5;

    text-align: left;
  }
}
  .am-item--active {
    background: darken($color-bg-secondary, 10%);
  }
  .am-item--highlighted {
    background: rgba($color-dc-secondary, 0.5);
  }

.am-dropdown {
  position: absolute;

  background: white;
  border: 1px solid #cccccc;

  &__slot {
    position: relative;
  }
}
  .am-dropdown--root {
    top: 100%;
    left: 0;
  }
  .am-dropdown--nested {
    top: 0;
    left: 100%;
  }

.amd-item {
  width: $global-baseline * 15;

  &__name {
    @extend .am-item__name;
  }

  &:hover {
    background: lighten($color-bg-secondary, 5%);
  }
}
  .amd-item--parent {
    position: relative;

    &:after {
      @include simple-arrow($global-baseline/3, darken($color-border, 15%), 'quadrant-2', 0, $global-baseline, 'right');
    }
  }
  .amd-item--active {
    background: lighten($color-bg-secondary, 5%);
  }
  .amd-item--highlighted {
    background: rgba($color-dc-secondary, 0.5);
  }
