.app-menu {
  position: relative;
  z-index: 10;

  padding: 3px;

  &__slot {
    position: relative;
  }
}

.am-item {
  position: relative;

  @include transition-property(background-color);
  @include transition-duration(0.2s);

  &__name {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    padding: 0 $global-baseline;

    line-height: 20px;
    
    text-align: left;
  }

  &__counter {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;

    width: 15px;
    height: 15px;

    font-size: 10px;
    line-height: 15px;
    font-weight: 600;

    color: white;
    text-align: center;

    background-color: $color-dc-tertiary;
    border-radius: 50%;
  }
}
  .am-item--active {
    background: rgba($color-dc-secondary, 0.5);
  }

.am-dropdown {
  position: absolute;
  padding: 3px;

  background: #f0f0f0;
  border: 1px solid $color-border-secondary;
  box-shadow: 2px 2px 5px rgba(black, 0.3);

  &__slot {
    position: relative;
  }

  &__divider {
    width: 100%;
    height: 1px;

    background: $color-border-secondary;
    margin: 3px 0;
  }
}
  .am-dropdown--root {
    top: 100%;
    left: 0;
  }
  .am-dropdown--nested {
    top: 0;
    left: 100%;
  }

.amd-item {
  position: relative;
  padding-right: 84px;
  white-space: nowrap;

  @include transition-property(background-color);
  @include transition-duration(0.2s);

  &__name {
    @extend .am-item__name;
  }

  &__counter {
    @extend .am-item__counter;

    right: 14px;
    top: 2px;
  }

  &__tweets {
    position: absolute;
    top: 0;
    left: 100%;

    white-space: nowrap;
  }

  &:hover {
    background: rgba($color-dc-secondary, 0.5);
  }
}
  .amd-item--parent {
    position: relative;

    &:after {
      @include simple-arrow($global-baseline/3, darken($color-border, 15%), 'quadrant-2', 0, 6px, 'right');
    }
  }
  .amd-item--active {
    background: rgba($color-dc-secondary, 0.5);
  }
