.author {
  padding: $global-baseline*3/4 0;

  &__avatar {
    width: $global-baseline * 2.5;
    height: $global-baseline * 2.5;
    margin: 0 $global-baseline/2;

    border-radius: 50%;
    border: 1px solid $color-border;

    background-size: cover;
    background-position: center center;
  }
  
  &__name {
    font-weight: 600;
    line-height: 18px;
  }

  &__tweets {
    line-height: 18px;
  }

  &__follow-action {
    // ...
  }

  &__follow-status {
    width: $global-baseline*6 + 6px;

    font-size: 12px;
    line-height: $global-baseline*2;

    text-align: center;
    color: $color-tx-muted;
  }
}
  .author--selected {
    background: $color-bg-secondary;
  }