.menu-popup {
  position: absolute;
  z-index: 3;
  right: 18px; top: 3px;

  &__indicator {
    height: 16px;
    min-width: 16px;
    padding: 0 3px;

    font-size: 10px;
    line-height: 16px;

    text-align: center;
    cursor: pointer;
  }

  &__counter {
    height: 16px;
    min-width: 16px;
    padding: 0 3px;

    font-size: 10px;
    line-height: 16px;
    font-weight: 600;

    color: white;
    text-align: center;
    cursor: pointer;

    background: $color-dc-secondary;
    border-radius: 3px;
  }
    &__counter--highlighted {
      background: $color-dc-tertiary;
    }
    &__counter--mixed {
      @include background-image(linear-gradient(left top,
              $color-dc-tertiary 0%,
              $color-dc-tertiary 50%,
              $color-dc-secondary 50%,
              $color-dc-secondary 100%));
    }
}
  .menu-popup--leaf {
    right: 6px;
  }
  .menu-popup--root {
    right: 0;
    top: 2px;
  }