.menu-popup {
  position: absolute;
  right: 0; top: 0;

  &__indicator {
    width:  $global-baseline * 2;
    height: $global-baseline * 2;
    margin: $global-baseline/6 0;

    font-size: 10px;
    line-height: $global-baseline * 2;

    text-align: center;
    color: $color-dc-tertiary;
    cursor: pointer;
  }
}