.panel {
  position: relative;

  &__counter {
    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 15px;

    font-size: 10px;
    line-height: 15px;
    font-weight: 600;

    color: white;
    text-align: center;

    background-color: $color-dc-tertiary;
    border-radius: 50%;
  }

  &__dropdown {
    position: absolute;
    top: -1px;
    right: 100%;
  }

  &__tweets {
    position: absolute;
    top: 0;
    right: 100%;

    white-space: nowrap;
  }

  &:hover,
  &--open {
    outline: 1px solid $color-border;
  }
}

.p-name {
  display: block;
  width: 100%;

  padding-right: $global-baseline/2;

  text-align: left;

  &:focus {
    outline: none;
  }

  &__icon {
    display: block;
    width: 28px;
    height: 28px;

    background-position: center center;
    background-repeat: no-repeat;
  }

  &__label {
    // ...
  }
}