.popup {
  position: absolute;
  z-index: 2;
  top: $global-baseline;
  left: 90%;

  width: $global-baseline*25;

  background: white;
  border: 1px solid $color-border;
  box-shadow: 0 0 10px rgba(black, 0.3);
}

.p-header {
  padding: $global-baseline/2 $global-baseline;

  background: lighten($color-bg-secondary, 5%);
  border-bottom: 1px solid $color-border;

  &__title {
    // ...
  }
}

.p-body {
  // ...

  &__item {
    padding: $global-baseline/2 $global-baseline;

    border-bottom: 1px solid $color-border;
  }
    &__item--last {
      border-bottom: none;
    }
}
  .p-body--limited {
    max-height: $global-baseline*20;
    overflow: auto;
  }
