.toolbar {
  position: absolute;
  top: $global-baseline * 4;
  padding: 3px;

  background: $color-bg-secondary;
  border: 1px solid $color-border;

  &__slot {
    // ...
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin: 3px 0;

    background: $color-border-secondary;
  }
}
  .toolbar--left {
    left: $global-baseline/2;
  }
  .toolbar--right {
    right: $global-baseline/2;
  }