.tweet-notification {
  position: relative;

  line-height: $global-baseline*2;

  &__author-avatar {
    width: $global-baseline*2;
    height: $global-baseline*2;

    background-size: cover;
    background-position: center center;
    border: 1px solid $color-border;
    border-radius: 50%;
  }
}

.tn-popup {
  position: absolute;
  bottom: $global-baseline*2;
  left: 50%;
  width: $global-baseline*20;
  padding: $global-baseline;

  margin-left: - $global-baseline*7;

  background: white;
  border: 1px solid $color-border;
  box-shadow: 0 0 10px rgba(black, 0.5);
  
  &__author-name {
    font-weight: 600;
  }
  
  &__text {
    line-height: 18px;
  }
}