.tweets-popup {
  position: relative;
}

.tp-popup {
  position: absolute;
  top: $global-baseline * 3;
  left: - $global-baseline * 3;

  width: $global-baseline*26;

  border: 1px solid $color-border;

  &__header {
    padding: $global-baseline/2;

    background: $color-bg-secondary;
    border-bottom: 1px solid $color-border;
  }

  &__body {
    background: white;
  }
    &__body--long {
      max-height: $global-baseline * 25;
      overflow: auto;
    }
}

.tweets-popup-notification {
  @extend .tweets-popup;

  &__thumb {
    width: $global-baseline*2;
    height: $global-baseline*2;
    margin: $global-baseline/4;

    border-radius: 50%;
    border: 1px solid $color-border;

    background-position: center center;
    background-size: cover;
  }
}

.tweets-popup-history {
  @extend .tweets-popup;

  &__thumb {
    width:  $global-baseline * 2;
    height: $global-baseline * 2;
    margin: $global-baseline/4 0;

    line-height: $global-baseline * 2;

    text-align: center;
    cursor: pointer;
  }
}
