.tweet {
  width: $global-baseline * 25;

  white-space: normal;
  
  &__author-name {
    font-weight: 600;
  }

  &__author-screen-name {
    font-weight: 300;
    color: $color-tx-muted;
  }

  &__author-avatar {
    width: $global-baseline * 3;
    height: $global-baseline * 3;

    border: 1px solid $color-border-secondary;
    border-radius: 3px;
    background-size: cover;
    background-position: center center;
  }

  &__link {
    color: $color-dc-secondary;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__published {
    font-weight: 300;
    color: $color-tx-muted;
  }
}