/**
 *  SHAME MODULE
 *
 *  sandbox for various experiments and other stuff that should be refactored in the future
 *
 */

.link {
  color: $color-dc-secondary;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.axis {
  shape-rendering: crispEdges;
}

//.x.axis line {
//  stroke: white;
//}

//.x.axis .minor {
//  stroke-opacity: 0.5;
//}

.axis path,
.axis line {
  fill: none;
  stroke: black;
}

.line {
  fill: none;
  stroke: $color-dc-secondary;
  stroke-width: 1px;
}


.area {
  fill: rgba($color-dc-secondary, 0.3);
}

.ghost-area {
  fill: rgba($color-border, 0.3);
}

.brush .extent {
  stroke: $color-dc-tertiary;
  stroke-opacity: 0.6;
  stroke-width: 2px;
  fill: none;
  shape-rendering: crispEdges;
}