/**
 *  MEDIA LAYOUT
 *
 *  layout of type "figure-content" or "content-figure" with floated figure
 *  and new block formatting context for the content part
 *
 *  more info here: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 *
 *  .l-media
 *    &__figure
 *    &__body
 *    &--rev
 *
 */
$media-modifiers: (
        'small'    : $global-baseline / 2,
        'medium'   : $global-baseline * 2,
        'large'    : $global-baseline * 3,
        'collapsed': 0
);

.l-media {
  @extend %cf;

  &__figure {
    float: left;
    margin-right: $global-baseline;

    .l-media--rev & {
      float: right;
      margin-right: 0 !important;
      margin-left: $global-baseline;
    }
  }

  &__body {
    // apply new block formatting context
    .flexbox & {
      display: flex; display: -webkit-flex;
      flex-direction: column; -webkit-flex-direction: column;
    }

    .no-flexbox & {
      overflow: hidden;
    }
  }
}
@each $modifier-name, $modifier-margin in $media-modifiers {
  .l-media--#{$modifier-name} > .l-media__figure {
    margin-right: $modifier-margin;
  }

  .l-media--rev.l-media--#{$modifier-name} > .l-media__figure {
    margin-left: $modifier-margin;
  }
}